<!DOCTYPE html>
{% extends 'pagesBase.html' %}
{% load static %}
{% block main %}
<html>
  <link rel="stylesheet" href="{% static 'css/about-stylesheet.css' %}?/v=1">
  <script src="{% static 'js/about-js.js' %}"></script>


    <body>
        
        <div class="container-fluid">
            <div id="dimmed_about_block" style="background: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url({% static "ImageData/games2.jpg" %});">
                <img src="{% static "ImageData/games2.jpg" %}">
                <h1 class="titleFont">Acesse jogos instantaneamente</h1>
                <p class="smallFont">
                  Com quase 30.000 jogos de AAA a indie e tudo mais. 
                    <br>
                    Desfrute de ofertas exclusivas, atualizações automáticas de jogos e outras grandes vantagens.
                </p>
            </div>
        </div>
            

            <div id="about_info_container" class="container">
              <div class="container aboutBlock">
                  <img class='slide-in-rtl' id="about_img1" src="https://cdn.cloudflare.steamstatic.com/store/about/cta_hero_community_pt3.png">
                    
                      <div class="fade-in">
                        <h1 class="titleFont">Junte-se à comunidade</h1>
                        <p class="smallFont">
                          Conheça novas pessoas, junte-se a grupos, forme clãs, converse no jogo e muito mais!
                            <br>
                            Com mais de 100 milhões de amigos (ou inimigos) em potencial, a diversão nunca para.
                        </p>
                        
                      </div>
              </div>
              
              
              <div id='about_block2'>
                  <img id="about_img2" class="slide-in-ltr" src="https://cdn.cloudflare.steamstatic.com/store/about/cta_hero_hardware.png">
                  <div id="about_block2_text" class="fade-in"> 
                    <h1 class="titleFont">Experimente o hardware do Steam</h1>
                    <p class="smallFont">
                      Criamos o Steam Controller e as tecnologias VR que alimentam o HTC Vive para tornar os jogos no PC ainda melhores.
                    </p>
                  </div>
              </div>
              
              <div class="container aboutBlock">
                  <img class='slide-in-rtl' id="about_img3" src="https://cdn.cloudflare.steamstatic.com/store/about/cta_hero_steamworks.png">
                  
                 <div class="fade-in">
                   <h1 class="titleFont">Libere seu jogo</h1>
                   <p class="smallFont">
                    O Steamworks é o conjunto de ferramentas e serviços que ajudam <br> 
                    Desenvolvedores e editores de jogos <br>aproveite ao máximo a distribuição de jogos no Steam.
                   </p>
                  
                 </div>
                 
              </div>
              <br>
            </div>
        
    </body>
    {% endblock main %}
</html>


